root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,kts}]
indent_style = space
indent_size = 4

[*.java]
# Całkowita blokada wildcard importów (import java.util.*) w IntelliJ
ij_java_use_single_class_imports = true
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

[*.{xml,sql}]
indent_style = space
indent_size = 4

[*.{json,yml,yaml,md,js}]
indent_style = space
indent_size = 2